[submodule "encacap_re_api"]
	path = encacap_re_api
	url = https://github.com/encacap/encacap_re_api.git
	branch = main
[submodule "encacap_re_dashboard"]
	path = encacap_re_dashboard
	url = https://github.com/encacap/encacap_re_dashboard.git
	branch = main
[submodule "encacap_re_acbuilding"]
	path = encacap_re_acbuilding
	url = https://github.com/encacap/encacap_re_acbuilding.git
	branch = main
